/// Button Color

/// Font Colors

/// Background Colors

/// Specials Cards
$c-card1: #1A6983;
$c-card2: #0489B5;
$c-card3: #1E51A2;

/// Misc
///
$c-star: #F5E82E;
$c-black: #000000;
$c-white: #FFFFFF;