#section-certificates {
  background-color: $c-associations;
  padding-top: $spacing-sm;
  padding-bottom: $spacing-sm;
  .owl-item {
    text-align: center;
  }
  .owl-stage>.owl-item {
    width: 100%;
  }
}