
//Fix for insurance background on mobile
.mobile-insurance-fix {
  display: none;
  @media (max-width: $width-sm) {
    display: block;
  }
}

#section-insurance {
  padding-top: 50px;
  background-image: url('/assets/davis-insurance-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  @media (max-width: $width-sm) {
    padding-top: 40px;
    background-color: white;
    background-image: none;
  }
  & p {
    line-height: 1.2;
  }

  h2 {
    color: $c-blue;
    font-family: $ff-lato;
    font-weight: 900;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  h4 {
    @include h3;
    color: $c-yello-dark;
  }
  h3 {
    color: $c-gold;
    font-weight: 900;
    font-family: $ff-lato;
  }
  .btn {
    background-color: #ff8200;
    padding-top: 10px;
    padding-bottom: 10px;
    @include lr-padding(60px, 60px, 60px, 40px, 40px);
    margin-bottom: 100px;
  }
  h6 {
    font-size: 16px;
    font-family: $ff-open;
  }
}
