.owl-carousel .owl-nav [class*=owl-] {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  right: $spacing-sm;
  zoom: 1;
  width: 60px;
  height: 60px;
  line-height: 32px;
  border: none;
  color: $c-white;
  background-color: rgba($c-blue-9, 0.85);
  font-size: 32px;
  border-radius: 0;
  opacity: 1;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  //& [class*=icon-] {
  //  position: absolute;
  //  left: 30px;
  //  top: 14px;
  //  width: 32px;
  //  margin-left: -16px;
  //}
  img {
    @include vertical-center;
  }
}
.owl-carousel .owl-nav .owl-prev {
  left: $spacing-sm;
  img {
    -moz-transform: scaleX(-1) translateY(-50%);
    -o-transform: scaleX(-1) translateY(-50%);
    -webkit-transform: scaleX(-1) translateY(-50%);
    transform: scaleX(-1) translateY(-50%);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}

.owl-carousel:hover .owl-nav .owl-next {
  left: auto;
  right: $spacing-sm;
}
.owl-carousel:hover .owl-nav .owl-prev {
  opacity: 1;
  left: $spacing-sm;
}

.owl-carousel .owl-nav [class*=owl-]:hover {
  background-color: darken($c-black-grey, 10%) !important;
  color: $c-white !important;
  text-decoration: none;
}
